*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--gap: 2rem;
	--gray: #ccc;
	--red: #ea002a;
	--transition: .5s;
	--transition-hover: .35s;
}

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Trebuchet MS", "Segoe UI", Arial, sans-serif;
	overflow: hidden;
	text-rendering: optimizeLegibility;
	user-select: none;
}

button {
	align-items: center;
	all: unset;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

#loader {
	align-items: center;
	background-color: #fff;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	display: flex;
	inset: 0;
	justify-content: center;
	position: fixed;
	transition: clip-path .75s ease-in-out;
	will-change: clip-path;
	z-index: 9999;
}

#loader.end {
	clip-path: polygon(0 105%, 100% 120%, 100% 100%, 0 100%);
}

#loader.remove {
	display: none;
}

#loader-wrap {
	align-items: center;
	display: flex;
	gap: var(--gap);
	justify-content: center;
}

#loading-wrap {
	overflow: hidden;
}

#loading {
	position: relative;
	transform: translateY(100%);
	transition: transform var(--transition) ease;
	will-change: transform;
}

#loading.active {
	transform: translateY(0);
}

#loading::before {
	content: "Loaded";
	position: absolute;
	transform: translateY(100%);
}

#loading.loaded {
	transform: translateY(-100%);
}

#loader-bar {
	background-color: var(--gray);
	border-radius: 2px;
	height: 2px;
	position: relative;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform var(--transition) ease;
	width: 400px;
	will-change: transform;
}

#loader-bar.active {
	transform: scaleX(1);
}

#loader-bar::before {
	background-color: var(--red);
	content: "";
	inset: 0;
	position: absolute;
	transform: scaleX(var(--s, 0));
	transform-origin: left;
	transition: transform var(--transition) ease;
	will-change: transform;
}

#press-enter {
	bottom: 10vh;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateY(1rem);
	transition: opacity var(--transition) ease, transform var(--transition) ease;
	will-change: opacity, transform;
}

#enter-btn {
	border: 1px solid var(--gray);
	border-radius: 4px;
	cursor: pointer;
	margin: 0 8px;
	padding: 4px 8px;
	transition: border-color var(--transition-hover) ease;
	will-change: border-color;
}

#enter-btn:hover {
	border-color: #999;
}

#overlay {
	inset: 0;
	position: fixed;
	z-index: 1;
}

#controls {
	align-items: flex-end;
	bottom: var(--gap);
	display: flex;
	gap: var(--gap);
	position: absolute;
	right: var(--gap);
}

#sound-btn {
	align-items: flex-end;
	gap: 4px;
	height: 1.5rem;
	transform: translateY(-3px);
}

.sound-bar {
	background: #fff;
	border-radius: 2px;
	height: 6px;
	width: 2px;
}

.sound-bar.active {
	animation: sound 1s infinite ease-in-out;
}

.sound-bar:nth-child(2) {
	animation-delay: .4s;
}

.sound-bar:nth-child(3) {
	animation-delay: .2s;
}

@keyframes sound {

	0%,
	100% {
		height: 6px;
	}

	50% {
		height: 22px;
	}
}

.fs-icon {
	opacity: 0;
	transition: opacity var(--transition) ease;
	will-change: opacity;
}

#zoom-wrap {
	align-items: center;
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
	position: absolute;
	right: var(--gap);
	top: 50%;
	transform: translateY(-50%);
}

.zoom-bar {
	background-color: #ffffff50;
	border-radius: 2px;
	height: 2px;
	transition: background-color var(--transition) ease;
	width: 1rem;
	will-change: background-color;
}

.zoom-bar:nth-of-type(odd) {
	width: 1.5rem;
}

.zoom-bar.active {
	background-color: #fff;
}

#levels-btn-wrap {
	align-items: center;
	border-radius: 50%;
	bottom: var(--gap);
	display: flex;
	height: 150px;
	justify-content: center;
	left: 50%;
	position: absolute;
	transform: translate(-50%, calc(50% - 25px));
	width: 150px;
}

#levels-btn {
	background-color: #fff;
	border-radius: 50%;
	height: 50px;
	opacity: 0;
	pointer-events: none;
	transform: translateY(1rem);
	transition: transform var(--transition) ease, opacity var(--transition) ease;
	width: 50px;
	will-change: opacity, transform;
}

#levels-btn.active,
#press-enter.active {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0);
}

#levels {
	backdrop-filter: blur(6px);
	background-color: #00000050;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	left: 50%;
	opacity: 0;
	padding: var(--gap);
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transform: translateY(1rem);
	transition: transform var(--transition) ease, opacity var(--transition) ease;
	will-change: transform, opacity;
}

#levels-top {
	align-items: center;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

#select-level {
	font-size: 2rem;
}

#levels-grid {
	display: grid;
	gap: var(--gap);
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.level {
	border: 1px solid var(--gray);
	border-radius: 50%;
	color: #fff;
	cursor: not-allowed;
	font-size: 2rem;
	height: 4rem;
	width: 4rem;
}

.level.unlocked {
	border-color: #fff;
	cursor: pointer;
}

#info {
	display: none;
}

.icon {
	height: 1.5rem;
	width: 1.5rem;
}

#webgl {
	inset: 0;
	opacity: 0;
	outline: none;
	position: fixed;
	transition: opacity .75s;
	will-change: opacity;
}

.fs-icon.active,
#webgl.active {
	opacity: 1;
}